
Tuesday/Lectures/.DS_Store
Thursday/Practicals/Practical 8/data/glove.6B.100d.txt
Thursday/Practicals/Practical 8/data/glove.6B.200d.txt
Thursday/Practicals/Practical 8/data/glove.6B.300d.txt
Thursday/Practicals/Practical 8/data/glove.6B.50d.txt
Thursday/Practicals/Practical 8/data/glove.6B.zip
Thursday/Practicals/Practical 7/data/text8
